.container {
  width: 100%;
  max-width: 400px;
  border-radius: 8px;
  padding: 3.8rem 2.8rem;

  > h2 {
    text-align: center;
  }

  .lead {
    font-size: 90%;
    color: rgb(136, 136, 136);
    display: block;
    margin: 1rem 0;
    text-align: center;
  }
}

.buttonContent {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;

  svg + span {
    margin-right: 10px;
  }

  svg {
    margin-top: 5px;
  }
}
