.container {
  width: 100%;
  max-width: 600px;
  margin: auto;
  margin-top: 5rem;

  > h2 {
    text-align: center;
  }

  > ul {
    margin-top: 1.5rem;
    padding-left: 6.8rem;

    li {
      margin-bottom: 0.5rem;
    }
  }

  button {
    max-width: 420px;
    margin: auto;
    margin-top: 2rem;
  }
}

.image {
  display: block;
  margin: auto;
  width: 100%;
  max-width: 400px;
  height: auto;
  margin-bottom: 2rem;
  position: relative;
  left: -18px;
}
