.container {
  width: 100%;
  max-width: 600px;

  > p {
    text-align: left;
    line-height: 1.5;
  }

  > h1 {
    font-weight: bold;
    font-size: 7rem;
    margin-bottom: 2rem;
  }

  > a button {
    width: auto;
    margin-top: 1rem;
  }
}
