*,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  text-rendering: optimizeLegibility;
  text-decoration: none;
  color: #fff;
}

$img-radius: 4px;

body {
  background: #161822;
}

button:disabled {
  opacity: 0.3;
  cursor: not-allowed !important;
}

input {
  display: block;
  width: 100%;
  background: transparent !important;
  padding: 0.8rem;
  padding-left: 2rem;
  border: 1px solid #252733;
  border-radius: 5px;
}

.group {
  margin-bottom: 1.2rem;
  position: relative;

  &Icon {
    position: absolute;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 8px;
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0.8rem;
  cursor: pointer;
  border-radius: 5px;
  border: 0;
  background: #1687a7;
  font-weight: bold;
  letter-spacing: 1px;
  color: #fff;

  &:focus {
    outline: none;
    box-shadow: 0 0 0 0.15rem #1688a748;
  }
}

.loader-page {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99999;
  background: #161822;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  pointer-events: none;
}
