*,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-family: system-ui, sans-serif, Arial;
  text-rendering: optimizeLegibility;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.788);
}

button:disabled {
  opacity: 0.3;
  cursor: not-allowed !important;
}

input {
  display: block;
  width: 100%;
  background: transparent !important;
  padding: 0.8rem;
  padding-left: 2rem;
  border: 1px solid rgb(212, 212, 212);
  border-radius: 8px;
  outline: none;

  &:focus {
    border-color: #1687a7;
    box-shadow: 0 0 0 0.15rem #1688a763;
  }
}

.group {
  margin-bottom: 1.2rem;
  position: relative;

  &Icon {
    position: absolute;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 8px;
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0.8rem;
  cursor: pointer;
  border-radius: 8px;
  border: 0;
  background: #1687a7;
  font-weight: bold;
  color: #fff;

  span {
    color: #fff;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 0.15rem #1688a748;
  }
}

.loader-page {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  pointer-events: none;
}